# Project 3 - Working with Structured Data

In [15]:
import pandas as pd
import sqlite3

In [16]:
file= r'C:\Users\DMichael\Desktop\Chinook_Sqlite.sqlite'
connection = sqlite3.connect(file)
data = pd.read_sql("SELECT * FROM project_query ", connection)
df =  pd.DataFrame(data)
df

,LastName,FirstName,Name,Title
0,Köhler,Leonie,Balls to the Wall,Balls to the Wall
1,Köhler,Leonie,Restless and Wild,Restless and Wild
2,Hansen,Bjørn,Put The Finger On You,For Those About To Rock We Salute You
3,Hansen,Bjørn,Inject The Venom,For Those About To Rock We Salute You
4,Hansen,Bjørn,Evil Walks,For Those About To Rock We Salute You
...,...,...,...,...
2235,Hämäläinen,Terhi,Looking For Love,Greatest Hits
2236,Hämäläinen,Terhi,Sweet Lady Luck,Greatest Hits
2237,Hämäläinen,Terhi,Feirinha da Pavuna/Luz do Repente/Bagaço da La...,Ao Vivo [IMPORT]
2238,Hämäläinen,Terhi,Samba pras moças,Ao Vivo [IMPORT]
2239,Pareek,Manoj,Hot Girl,"The Office, Season 1"