In [33]:
import pandas as pd
import numpy as np
import sys
print("Pandas V." + pd.__version__)
print("System V." + sys.version)

Pandas V.1.0.1
System V.3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

In [37]:
#Create series
miles = [55, 65, 80, 100, 150, 80, 150, 150, 150, 220]

def CountSums(arr):
    sum = 0
    a = []
    for i in arr:
        sum = i + sum 
        a.append(sum)
    return a

totals = CountSums(miles)

series = pd.Series(zip(miles, totals), index=["One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten"])

In [38]:
series

One         (55, 55)
Two        (65, 120)
Three      (80, 200)
Four      (100, 300)
Five      (150, 450)
Six        (80, 530)
Seven     (150, 680)
Eight     (150, 830)
Nine      (150, 980)
Ten      (220, 1200)
dtype: object

In [40]:
pd.DataFrame(data=series, columns=["Per Day, Cumulative"])

      Per Day, Cumulative
One              (55, 55)
Two             (65, 120)
Three           (80, 200)
Four           (100, 300)
Five           (150, 450)
Six             (80, 530)
Seven          (150, 680)
Eight          (150, 830)
Nine           (150, 980)
Ten           (220, 1200)