# Week 7 - Aggregating Data

In [2]:
import pandas as pd
import numpy as np
import sys

In [5]:
url="https://raw.githubusercontent.com/davidally/python-notebooks/master/Week7data.csv"
df = pd.read_csv(url)
df

,Unnamed: 0,Bad Boys For Life,Avengers Endgame,Joker,Star Wars: Rise of Skywalker,Frozen 2,Once Upon A Time In Hollywood
0,Person_1,4,5,4,4,3,5
1,Person_2,4,4,5,2,3,3
2,Person_3,3,5,5,5,4,4
3,Person_4,4,5,4,3,4,5
4,Person_5,3,3,4,2,4,5

In [13]:
print('Average Ratings')
df[['Bad Boys For Life', 'Avengers Endgame', 'Joker', 'Star Wars: Rise of Skywalker', 'Frozen 2', 'Once Upon A Time In Hollywood']].mean()

Average Movie Ratings

Bad Boys For Life                3.6
Avengers Endgame                 4.4
Joker                            4.4
Star Wars: Rise of Skywalker     3.2
Frozen 2                         3.6
Once Upon A Time In Hollywood    4.4
dtype: float64

## Normalize Data

In [22]:
from sklearn.preprocessing import MinMaxScaler
DATA = df[['Bad Boys For Life','Avengers Endgame','Joker','Star Wars: Rise of Skywalker','Frozen 2','Once Upon A Time In Hollywood']]
scalar = MinMaxScaler()
scalar.fit(DATA)
Normalized_Data = scalar.transform(DATA)

In [28]:
#Check data is normalized
New_DF = pd.DataFrame(Normalized_Data, columns=['Bad Boys For Life','Avengers Endgame','Joker','Star Wars: Rise of Skywalker','Frozen 2','Once Upon A Time In Hollywood'])
New_DF

,Bad Boys For Life,Avengers Endgame,Joker,Star Wars: Rise of Skywalker,Frozen 2,Once Upon A Time In Hollywood
0,1.0,1.0,0.0,0.666667,0.0,1.0
1,1.0,0.5,1.0,0.000000,0.0,0.0
2,0.0,1.0,1.0,1.000000,1.0,0.5
3,1.0,1.0,0.0,0.333333,1.0,1.0
4,0.0,0.0,0.0,0.000000,1.0,1.0

### Average Rating (Normalized)

In [29]:
New_DF[['Bad Boys For Life', 'Avengers Endgame', 'Joker', 'Star Wars: Rise of Skywalker', 'Frozen 2', 'Once Upon A Time In Hollywood']].mean()

Bad Boys For Life                0.6
Avengers Endgame                 0.7
Joker                            0.4
Star Wars: Rise of Skywalker     0.4
Frozen 2                         0.6
Once Upon A Time In Hollywood    0.7
dtype: float64